{% extends './includes/base.html.twig' %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    <section class="ui center aligned middle aligned segment">

        {% for trait in member %}
            <div class="ui centered card">
                <div class="image">
                    <img src="/assets/img/profile/placeholder.png">
                </div>
                <div class="content">
                    <a class="header">{{ trait.first_name }} {{ trait.last_name }}</a>
                    <div class="meta">
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                        {{ trait.email }}
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="futbol icon"></i>
                        Attending 25 activities
                    </a>
                </div>
                <div class="extra content">
                <a>
                    <i class="futbol icon"></i>
                    Have 25 interests
                </a>
                </div>
            </div>
        {% endfor %}

    </section>

{% endblock %}
