{% extends './includes/base.html.twig' %}
{% block title %}
    Register
{% endblock %}
{% block content %}

    <section class="ui segment">
        <form class="ui form" action="" method="post" enctype="multipart/form-data">
            <h4 class="ui dividing header">Register</h4>
            <div class="field">
                <label>Username</label>
                <input type="text" name="email" placeholder="mike.pence">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="*******">
            </div>
            <div class="field">
                <label>Profile image</label>
                <input type="file" name="image">
            </div>
            <button class="ui blue submit button" name="submit" type="submit">Log in</button>
        </form>
        {% if session.getFlashbag().has('registrationError') %}
            <div class="ui error message">
                <i class="close icon"></i>
                <div class="header">
                    Registration failed
                </div>
                <ul class="list">
                    {% for message in session.getFlashbag().get('registrationError') %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </section>
{% endblock %}
