{% extends './includes/base.html.twig' %}
{% block title %}
    Index
{% endblock %}
{% block content %}
<h1>Homepage</h1>
<hr/>

    <p>Total members: {{ totalMembers }}</p>
    <p>Total leaders: {{ totalLeaders }}</p>
    <p>Total upcoming activities: {{ totalActivities }}</p>

{% endblock %}

