{% extends './includes/base.html.twig' %}
{% block title %}
    Index
{% endblock %}
{% block content %}
<h1>Index!</h1>
<hr/>
<h3>Sample data</h3>

{# Retrieves a variable stored inside the session object #}
   <h1> {{ session.get('hei') }}</h1>

{# Retrieves all users in users-array  #}
    {% for item in users %}
    {{ item.username }}
    {% endfor %}



{% endblock %}

