{% extends './includes/base.html.twig' %}
{% block title %}
    404 - Page could not be found
{% endblock %}
{% block content %}
    <h1>404</h1>
    <hr/>
    <h3>Page could not be found</h3>
{% endblock %}

