{% extends './includes/base.html.twig' %}
{% block title %}
    404 - Page could not be found
{% endblock %}
{% block content %}
    <div class="ui message">
        <div class="header">
            404
        </div>
        <p>Page could not be found.</p>
    </div>
{% endblock %}

