{% extends './includes/base.html.twig' %}
{% block title %}
    405
{% endblock %}
{% block content %}
    <div class="ui message">
        <div class="header">
            405
        </div>
        <p>Method not allowed.</p>
    </div>
{% endblock %}

