<div class="ui stackable menu">
    <header class="ui header item"> <a href="/"> Neo Youthclub </a></header>
        <a id="profile" class="item" href="/profile"> Profile </a>
        <a id="activities" class="item" href="/activities"> Activities </a>
        <a id="members" class="item" href="/dashboard"> Members </a>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        <a class="ui item" id="about" href="/logout"> Logout </a>
    </div>
</div>