{# Send email Modal #}
     <div class="ui button">
         Send Email
     </div>
     <div class="ui modal">
         <i class="close icon"></i>
         <div class="header">
             Send Email
         </div>
         <div class="content">
             <form class="ui form" id="send-email" action="/send-email" method="post">
                 <div class="field">
                     <label>Subject
                         <input type="text" name="subject" placeholder="Dear Tom">
                     </label>
                 </div>
                 <div class="field">
                     <label>Content
                         <textarea name="content" placeholder="Email content..."
                                   rows="4"></textarea>
                     </label>
                 </div>
                 <button class="ui primary button" form="send-email" type="submit">Send Email</button>
             </form>
         </div>
     </div>
<script>
    $('.ui.button').click(function () {
        $('.ui.modal').modal('show');});
</script>

