{% extends './includes/base.html.twig' %}
{% block title %}
    Login
{% endblock %}
{% block content %}

<section class="ui segment">
    <form class="ui form" action="" method="post">
        <h4 class="ui dividing header">Log in</h4>
        <div class="field">
            <label>Email</label>
            <input type="text" name="email" placeholder="ola.nordmann@mail.no">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="*******">
        </div>
        <button class="ui blue submit button" name="submit" type="submit">Log in</button>
        <div class="ui stackable menu">
            <a href="/register" class="item">
                Not yet registered in Neo Youthclub?
            </a>
            <a href="/retrieve-account" class="item">
                Already a member of Neo Youthclub, <br> but do not have your log-in credentials?
            </a>
        </div>
        <div class="ui error message" id="error-register"></div>
    </form>
    {% if session.getFlashbag().has('loginError') %}

        <div class="ui error message">
            <ul class="list">
                {% for message in session.getFlashbag().get('loginError') %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>

    {% endif %}

</section>

    <script>
        // jQuery form validation
        // ---------------------------------------
        $('.ui.form')
            .form({
                fields: {
                    username: {
                        identifier: 'email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a username'
                            }
                        ]
                    },
                    password: {
                        identifier: 'password',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a password'
                            },
                        ]
                    },
                }
            })
        ;
    </script>


{% endblock %}
